In [43]:
import pandas as pd
data = pd.read_csv('./train_self_harm.csv')

In [6]:
data.value_counts('class_id')

class_id
0    715
1    296
2    137
3     40
dtype: int64

In [8]:
len(data)

1188

In [18]:
data['class_id'].value_counts()

0    715
1    296
2    137
3     40
Name: class_id, dtype: int64

In [44]:
import pandas as pd
data = pd.read_csv('./train_self_harm.csv')

data_0 = data[data.class_id == 0]
data_1 = data[data.class_id == 1]
data_2 = data[data.class_id == 2]
data_3 = data[data.class_id == 3]

data_0_ = data_0.sample(86)
data_1_ = data_1.sample(86)
data_2_ = data_2.sample(86)

data_ = pd.concat([data_0_, data_1_, data_2_, data_3])

In [45]:
data_.value_counts('class_id')

class_id
0    86
1    86
2    86
3    40
dtype: int64

In [46]:
data_.to_csv('train_self_harm_298_label_blance.csv', index=False)

In [48]:
pd.read_csv('./train_self_harm_297.csv')['class_id'].value_counts().sum()

297

In [1]:
import pandas as pd

In [2]:
df_depression = pd.read_csv('./dataset_depression.csv')

In [7]:
df_depression['post'] = df_depression['post'].str.replace('\n', ' ')

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
train_df, test_df = train_test_split(df_depression, test_size=0.2)

In [12]:
train_df.value_counts('label')

label
0    1181
1    1076
dtype: int64

In [13]:
test_df.value_counts('label')

label
0    301
1    264
dtype: int64

In [14]:
train_df.to_csv('./train_depression_new.csv')

In [15]:
test_df.to_csv('./test_depression_new.csv')

In [21]:
df_depression

                                                   post  label
0      Well, all in all things are going well. Day t...      0
1      urlLink    This is me and one of my best frie...      0
2      One of my favorite animals is a dog. I like d...      0
3     Anyone already afraid of Valentine's Day?\nIf ...      1
4     Is it stress, depression or burn out?\nHey,\n\...      1
...                                                 ...    ...
2817  You ever get scared that you’re not depressed?...      1
2818   My cat, Dolemite, who passed away about a mon...      0
2819   Well I'm back, SP2 for windows decided that i...      0
2820   Maybe I'm too nice, but it would be hilarious...      0
2821  I met up with a girl yesterday for the second ...      1

[2822 rows x 2 columns]